# ===================================================================
# artellapipe-tools-modelchecker requirements file
# ===================================================================

artellapipe
artellapipe-libs-pyblish